KineZik\ Client/bin/classes/com/kinezik/KineZikActivity.class
*R.java
Kine/build/classes/controleur/GetSession.class
KineZik\ Client/bin/*
KineZik\ Client/gen/*
KineServ/build/*
*.class
*.apk
KineServ/.project
KineServ/.settings/org.eclipse.wst.common.component